# Dependencies and native prebuild output
node_modules/
/ios
/android

# Build output
.expo/
dist/

# npm-generated
package-lock.json

# Nitro
nitrogen/generated/
**/nitrogen/generated/

# Goal task md file
GOAL.md



